.profile {
  /* position: relative; */
  width: 300px;
  text-align: center;
  padding: 1rem;
  background-color: #ebebeb;
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.36);
  border-radius: 20px;
  margin-bottom: 15px;
}

.photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  position: relative;
}

.new {
  position: absolute;
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  top: 10%;
  left: 70%;
  z-index: 1;
}
